<!doctype html>
<meta charset="utf-8">
<html>
<style>
    .bar {
        fill: steelblue;
    }
    
    <%# .toolTip {
        position: absolute;
        display: none;
        min-width: 80px;
        height: auto;
        background: none repeat scroll 0 0 #ffffff;
        border: 1px solid #6F257F;
        padding: 14px;
        text-align: center;
    }
    
    %>div.tooltip {
        position: absolute;
        text-align: center;
        width: 175px;
        height: 100px;
        padding: 2px;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
    }
</style>



<head>

    <h1> </h1>
</head>

<body>
    <svg id="scatter" width="700" height="500"> </svg>
    <div></div>
    <script src="http://d3js.org/d3.v4.min.js"></script>
    <script>
        //set the dimensions and margins of the graph
        <%# var margin = {
                top: 20,
                right: 20,
                bottom: 30,
                left: 320,
            },
            width = 1200- margin.left - margin.right,
            height = 600 - margin.top - margin.bottom;
        // set the ranges
        var y = d3.scaleBand()
            .range([height, 0])
            .padding(0.1);
        var x = d3.scaleLinear()
            .range([0, width]);
        // append the svg object to the body of the page
        // append a 'group' element to 'svg'
        // moves the 'group' element to the top left margin
        var svg = d3.select("body").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");
        
        var tooltip = d3.select("body").append("div").attr("class", "toolTip");
        d3.csv("csv/r_X_csv.csv", function(error, data) {
            // console.log("data", data)
        
        var bidArr = [];
        var productDetails = {}
        var currentNetCostByProduct = [];
            data.forEach(function(d) {
                
                if (d.generic_name != "") {
                    productDetails["id"] = (d.id);
                    productDetails["generic_name"] = (d.generic_name);
                   // currentNetCostByProduct.push(productDetails);
                };
                if (d.priority == "CURRENT #1") {
                    productDetails["current_manufacturer"] = (d.manufacturer_code);
                    productDetails["netCost"] = (d.net_cost);
                    currentNetCostByProduct.push(productDetails);
                    bidArr.push(parseFloat(d.net_cost));
                    productDetails = {};
                };
            });
           console.log("currentNetCostByProduct", currentNetCostByProduct);
        
// Scale the range of the data in the domains
        x.domain([0, d3.max(bidArr)
        ])
        y.domain(currentNetCostByProduct.map(function(d) {
            console.log("id", d.id);
            return d.id;
        }));
        //y.domain([0, d3.max(data, function(d) { return d.sales; })]);
        // append the rectangles for the bar chart
        svg.selectAll(".bar")
            .data(currentNetCostByProduct)
            .enter().append("rect")
            .attr("class", "bar")
            //.attr("x", function(d) { return x(d.sales); })
            .attr("width", function(d) {
                //console.log("d", d.bid)
                return x(d.netCost);
            })
            .attr("y", function(d) {
                //console.log("d", d.medicine)
                return y(d.id);
            })
            .attr("height", y.bandwidth())
            .on("mouseover", function(d){
            tooltip
              .style("left", d3.event.pageX - 50 + "px")
              .style("top", d3.event.pageY - 70 + "px")
              .style("display", "inline-block")
              .html( "Manufacturer Info" + "<br>" + (d.current_manufacturer) + "<br>" + (d.generic_name) + "<br>" + (d.netCost));
        })
    		.on("mouseout", function(d){ tooltip.style("display", "none");});
        // add the x Axis
        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));
        // add the y Axis
        svg.append("g")
            .call(d3.axisLeft(y));
 });             %>

        var svg = d3.select("#scatter"),
            margin = {
                top: 20,
                right: 20,
                bottom: 30,
                left: 50
            },
            width = +svg.attr("width"),
            height = +svg.attr("height"),
            domainwidth = width - margin.left - margin.right,
            domainheight = height - margin.top - margin.bottom;

        var g = svg.append("g")
            .attr("transform", "translate(" + margin.top + "," + margin.top + ")");

        var div = d3.select("body").append("div")
            .attr("class", "tooltip")
            .style("opacity", 0);

        g.append("rect")
            .attr("width", width - margin.left - margin.right)
            .attr("height", height - margin.top - margin.bottom)
            .attr("fill", "#F6F6F6");

        d3.csv("csv/r_X_csv.csv", function(error, data) {
            // console.log("data", data)

            var unitSoldArray = [];
            var savingsArray = [];
            var productDetails = {};
            var currentNetCostByProduct = [];
            data.forEach(function(d) {

                if (d.generic_name != "") {
                    productDetails["id"] = (d.id);
                    productDetails["generic_name"] = (d.generic_name);
                    productDetails["unitSold"] = (d.rolling_yearly_usage);
                    unitSoldArray.push(parseFloat(d.rolling_yearly_usage));
                    // currentNetCostByProduct.push(productDetails);
                };
                if (d.priority == "CURRENT #1") {
                    productDetails["current_manufacturer"] = (d.manufacturer_code);
                    productDetails["currentNuberOneNetCost"] = (d.net_cost);
                    productDetails["currrentNumberOneSavings"] = (0);
                    productDetails["currentNumberOnePriority"] = (d.priority);

                };
                if (d.priority == 1) {
                    productDetails["numOneManufacturer"] = (d.manufacturer_code);
                    productDetails["numberOneNetCost"] = (d.net_cost);
                    productDetails["numberOneSavings"] = (d.saving);
                    productDetails["numberOnePriority"] = (d.priority);
                    currentNetCostByProduct.push(productDetails);
                    savingsArray.push(parseFloat(d.saving));
                    productDetails = {};
                };
            });
            console.log("currentNetCostByProduct", currentNetCostByProduct);

            var x = d3.scaleLinear()
                .domain(padExtent([-d3.max(savingsArray), d3.max(savingsArray)]))
                .range(padExtent([0, domainwidth]));
            var y = d3.scaleLinear()
                .domain(padExtent([0, d3.max(unitSoldArray)]))
                .range(padExtent([domainheight, 0]));

            g.selectAll("#currentone")
            .on("click", console.log("monkley"))
                .data(currentNetCostByProduct)
                .enter().append("circle")
                .attr("id", "currentone")
                .attr("class", "dot")
                .attr("r", 7)
                .attr("cx", function(d) {
                    return x(d.currrentNumberOneSavings);
                })
                .attr("cy", function(d) {
                    return y(d.unitSold);
                })
                .style("fill", function(d) {
                    if (d.current_manufacturer == d.numOneManufacturer) {
                        return "red"
                    } else {
                        return "green"
                    } //Bottom Right 
                })
               // .on("click", buildBarChart( function(d) { return d.id; }))
              //.on("click", console.log(this))
                .on("mouseover", function(d) {
                    div.transition()
                        .duration(200)
                        .style("opacity", .9)
                    div.html("Product Details" + "<br>" + (d.current_manufacturer) + "<br>" + (d.generic_name) + "<br>" + (d.currentNumberOnePriority)  +"<br>" + (d.currentNuberOneNetCost) + "<br>" + (d.currrentNumberOneSavings))
                        .style("left", (d3.event.pageX) + "px")
                        .style("top", (d3.event.pageY - 28) + "px");
                })
                .on("mouseout", function(d) {
                    div.transition()
                        .duration(500)
                        .style("opacity", 0);
                });

            g.selectAll("#numberOne")
                .data(currentNetCostByProduct)
                .enter().append("circle")
                .attr("id", "numberOne")
                .attr("class", "dot")
                .attr("r", 7)
                .attr("cx", function(d) {
                    return x(d.numberOneSavings);
                })
                .attr("cy", function(d) {
                    return y(d.unitSold);
                })
                .style("fill", function(d) {
                    if (d.current_manufacturer == d.numOneManufacturer) {
                        return "red"
                    } else {
                        return "green"
                    } //Bottom Right 
                })
                .on("click", buildBarChart)
                .on("mouseover", function(d) {
                    div.transition()
                        .duration(200)
                        .style("opacity", .9)
                    div.html("Product Details" + "<br>" + (d.numOneManufacturer) + "<br>" + (d.generic_name) + "<br>" + (d.numberOnePriority)  +"<br>" + (d.numberOneNetCost) + "<br>" + (d.numberOneSavings))
                        .style("left", (d3.event.pageX) + "px")
                        .style("top", (d3.event.pageY - 28) + "px");
                })
                .on("mouseout", function(d) {
                    div.transition()
                        .duration(500)
                        .style("opacity", 0);
                });


            g.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(1," + y.range()[0] / 1 + ")")
                .call(d3.axisBottom(x).ticks(5));

            g.append("g")
                .attr("class", "y axis")
                .attr("transform", "translate(" + x.range()[1] / 2 + ", 0)")
                .call(d3.axisLeft(y).ticks(5));

        });

        function padExtent(e, p) {
  	        if (p === undefined) p = 1;
  	        return ([e[0] - p, e[1] + p]);
            }
        function buildBarChart(id){
                var margin = {top: 20, right: 20, bottom: 30, left: 40},
                                width = 960 - margin.left - margin.right,
                                height = 500 - margin.top - margin.bottom;

// set the ranges
                var x = d3.scaleBand()
                        .range([0, width])
                        .padding(0.1);
                var y = d3.scaleLinear()
                        .range([height, 0]);
                        
                var svg = d3.select("#barChart").append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                .append("g")
                    .attr("transform", 
                        "translate(" + margin.left + "," + margin.top + ")");


                d3.csv("csv/r_X_csv.csv", function(error, data) {
            

                    var unitSoldArray = [];
                    var savingsArray = [];
                    var productDetails = {};
                    var currentNetCostByProduct = [];
                    data.forEach(function(d) {
                        if (d.id == id) {
                            console.log("d", d)
                            return d 
                        };
                      
                    })
                });
                 console.log("helloooooo")   
        }



       
    </script>

</body>

</html>