<!doctype html>
<meta charset="utf-8">
<html>
<style>
    .bar {
        fill: darkgreen;
    }
    
    #tooltip {
        position: absolute;
        text-align: left;
        width: 175px;
        height: 120px;
        padding: 2px;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
    }
    
    div.tooltip {
        position: absolute;
        text-align: left;
        width: 175px;
        height: 120px;
        padding: 2px;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
    }
    
    .arc text {
        font: 10px sans-serif;
        text-anchor: middle;
    }
    
    .arc path {
        stroke: #fff;
    }
    
    .legend {
        font-size: 13px;
    }
    
    #chart {
        height: 360px;
        margin: 0 auto;
        position: relative;
        width: 360px;
    }
    
    .label {
        font-weight: 600;
    }
</style>



<head>

    <h1> </h1>
</head>

<body>
    <svg id="scatter" width="700" height="500"></svg>
    <svg id="stackedChart" width="700" height="500"></svg>


    <script src="http://d3js.org/d3.v4.min.js"></script>
    <script>
        // Create data
        d3.json("json/tag_rx.json", function(error, data) {
                console.log("data", data)
            data.forEach(function(d) {
               console.log(d)
            });
        });


           

       
    </script>
</body>